extends layout

block content
  h2= title
  - var movies=[{movie_name:"KGF",movie_director:"Prashant",movie_timing:2},{movie_name:"RRR",movie_director:"Rajamouli",movie_timing:2},{movie_name:"PAPA",movie_director:"srinivas",movie_timing:2}]
  div(class="container-fluid")
    div(class="row")
        each m,index  in movies
            div(class="col-sm-2" onclick =`buy(${index})`) #{m.movie_name}, #{m.movie_director}, #{m.movie_timing}
            script.
                function buy(a)
                {
                    alert(`You watched a film ${a+1}`)
                }